@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    font-family: 'Roboto', "Verdana", sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
scroll-behavior: smooth;
}
.container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#header{
    padding-top: 1.5%;
}

a {
    text-decoration: none;
    margin: 0px 5px;
}

#nav-body a{
    font-size: 26px;
    width: 48px;
}

/* unvisited link */
a:link {
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  a:visited {
    color: rgba(0, 0, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: rgba(59, 59, 59, 0.894)
  }
  
  /* selected link */
  a:active {
    color: rgb(255, 255, 255);
  }


hr {
    border: 0;
    border-top: solid 2px #444;
    border-top-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    margin: 1%;
}

#backToTop_Btn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 40px; /* Place the button 40px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(50, 50, 50, 0.799); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 2px; /* Some padding */
    border-radius: 30px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
    height: 60px; /* Button height */
    width: 60px; /* Button width */
}
  
#backToTop_Btn:hover {
    background-color: rgba(59, 59, 59, 0.894); /* Add a dark-grey background on hover */
}


#aboutMe {
    margin: auto;
    padding: 2%;
    width: 80%;
}



.col {
    padding: 2%;
    margin: 1%;
    text-align: justify;
    box-shadow: 5px 5px 10px rgb(12, 12, 12);
    border-style: solid;
    border-width: 0.5px;
    border-color: whitesmoke;
    color: white;
    height: fit-content;
}

.col1 {
    width: auto;
    background:  rgba(0, 0, 0, 0.937);
    margin-top: -7%;
}

.col2 {
    width: auto;
    background:  rgba(0, 0, 0, 0.937);
}

.col3 {
    width: 98%;
    height: auto;
}

.colImg {
    width: 50%;
    height: 50%;
    clip-path: circle(48.9% at 50% 50%);
    position: relative;
    z-index: -1;
}

/* Social */
#copyright {
    list-style-type: none;
    font-size: 12px;
    margin-bottom: 20px;
}

.div-flex{
    display: inline-flex;
}

    .soc-links {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin-top: 1%;
    }

        .soc-links a {
            -moz-transition: top .2s ease-in-out;
            -webkit-transition: top .2s ease-in-out;
            -ms-transition: top .2s ease-in-out;
            transition: top .2s ease-in-out;
            display: inline-flex;
            width: 48px;
            height: 48px;
            top: 0;
            position: relative;
            text-decoration: none;
            border-radius: 12px;
            margin-right: 2px;
        }

        .soc-links a:before {
            -moz-transition: background-color .2s ease-in-out;
            -webkit-transition: background-color .2s ease-in-out;
            -ms-transition: background-color .2s ease-in-out;
            transition: background-color .2s ease-in-out;
            background-color: rgba(85, 85, 85, 0);
            border-radius: 12px;
            box-shadow: inset 0px 0px 0px 1px #ffffff, inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
            color:#ffffff;
            display: block;
            font-size: 26px;
            line-height: 48px;
            width: 48px;
            text-align: center;
            outline: 0;
            overflow: hidden;
            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
        }

            .soc-links a.fa-github:hover:before {
                background-color: #FFFFFF;
                color: #282828;
            }

            .soc-links a.fa-twitter:hover:before {
                background-color: #55acee;
            }

            .soc-links a.fa-linkedin-in:hover:before {
                background-color: #0a66c2;
            }

            .soc-links a.fa-xing:hover:before {
                background-color: #0698a0;
            }

            .soc-links a.fa-at:hover:before {
                background-color: rgb(240, 156, 47);
            }

            /* .soc-links a:hover:before {
                background-color: transparent;
            } */

            .soc-links a:hover {
                top: -5px;
                /* box-shadow: 2px 5px 7px gray; */
            }
           
body{
    display: block;
    justify-content: center;
    align-content: center;
    color: rgb(0, 0, 0);
    background: #ffffff;
    width:100%;
    margin: 2% auto;
    text-align: center;
    min-height: auto;
}

#work{
    width: 100%;
}

.items{
    position: relative;
    display: inline-flex;
    width: 100%;
    padding: 10%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    flex-wrap: wrap;
}

    .items .box{
        position: relative;
        width: 31%;
        height: 502px;
        overflow: hidden;
        transition: 0.5s;
        margin: 1%;
    }


    .items .box:hover{
        z-index: 2;
        transform: scale(1.15);
        box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    }
    
    .items .box .imgBox{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    } 
    
    .items .box .imgBox:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.1);
        mix-blend-mode: multiply;
        opacity: 0;
        transition: 0.5s;
    }
    
    .items .box:hover .imgBox:before{
        opacity: 1;
    }
    
    .items .box .imgBox img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
    
    .items .box .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        padding: 20px;
        align-items: flex-end;
        text-align: left;
    }
    
    .items .box .content h2{
        color: #fff;
        transition: 0.5s;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: 20px;
        transform: translateY(200px);
    }
    
    .items .box:hover .content h2{
        transform: translateY(0);
        transition-delay: 0.4s;
    }
    
    .items .box .content p{
        color: #fff;
        font-size: 14px;
        transform: translateY(200px);
        transition: 0.5s;
    }
    
    .items .box:hover .content p{
        transform: translateY(0);
        transition-delay: 0.5s;
    }

    @media only screen and (max-width: 1280px){
        #header{
            padding-top: 2.5%;
        }

        .items .box{
            position: relative;
            width: 48%;
            height: 502px;
            overflow: hidden;
            transition: 0.5s;
            margin: 1%;
        }
    }

@media only screen and (max-width: 800px){

    
    #header{
        padding-top: 5%;
    }

    #aboutMe{
        position: relative;
        display: block;
        width: 100%;
    }

    .col2 {
        width: auto;
        background:  rgba(0, 0, 0, 0.937);
    }

    #work{
        width: 100%;
    }

    .items{
        position: relative;
        display: block;
        width: 100%;
        padding: 10%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    .items .box{
        position: relative;
        width: 100%;
        min-height: 380px;
        height: 75%;
        overflow: hidden;
        transition: 0.5s;
        margin: 0px;
        margin-bottom: 5%;
    }
    
    @media only screen and (max-width: 500px){

        #backToTop_Btn {
            display: none; /* Hidden by default */
            position: fixed; /* Fixed/sticky position */
            bottom: 10px; /* Place the button at the bottom of the page */
            right: 20px; /* Place the button px from the right */
            z-index: 99; /* Make sure it does not overlap */
            border: none; /* Remove borders */
            outline: none; /* Remove outline */
            background-color: rgba(85, 85, 85, 0.40); /* Set a background color */
            color: white; /* Text color */
            cursor: pointer; /* Add a mouse pointer on hover */
            padding: 2px; /* Some padding */
            border-radius: 22.5px; /* Rounded corners */
            font-size: 15px; /* Increase font size */
            height: 45px; /* Button height */
            width: 45px; /* Button width */
        }
    }
}
